*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: brown;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin-top: 20px;
}

.calcolo{
    background-color: white;
    width: 80vh;
    margin: auto;
    text-align: center;
}

.dati{
    display: flex;
    justify-content: space-around;
    color: brown;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.biglietto{
    background-color: white;
    width: 80vh;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: ;
}